services:
  registry:
    build:
      context: .
      dockerfile: Dockerfile.registry
    expose:
      - "5000"
    environment:
      REGISTRY_AUTH: token
      REGISTRY_AUTH_TOKEN_REALM: https://docker-registry.the-ihor.com/auth
      REGISTRY_AUTH_TOKEN_SERVICE: docker-registry.the-ihor.com
      REGISTRY_AUTH_TOKEN_ISSUER: docker-auth
      REGISTRY_AUTH_TOKEN_ROOTCERTBUNDLE: /certs/server.crt
    volumes:
      - registry-data:/var/lib/registry
    restart: unless-stopped

  auth:
    build:
      context: .
      dockerfile: Dockerfile.auth
    expose:
      - "5001"
    restart: unless-stopped

  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    expose:
      - "80"
    depends_on:
      - registry
      - auth
    restart: unless-stopped

volumes:
  registry-data:
